<div class="header-profiles">

  <div class="profile-header">
      <h1>Profiles:</h1>
      <img src={{profileDetails.photo}} />
      <h1>{{ profileDetails.first_name }} {{ profileDetails.last_name }}</h1>
  </div>

  <div class="container-table-details">

    <div class="container-quick-facts">
      <div class="quick-facts mat-elevation-z2">

        <h5>Quick Facts</h5>

        <div>
          <div class="external-link">
            <label>Status</label>
            <i class="material-icons">open_in_new</i>
          </div>

          <div class="information">
              <i class="material-icons">assignment_ind</i>
              <ul>
                <li>ID: </li>
                <li>Tier: Gold</li>
                <li>Pts: 125,024</li>
              </ul>
          </div>
        </div>

        <!-- TOP 3 FACTS -->
        <div>
          <div class="external-link">
              <label>Top 3 Facts</label>
              <i class="material-icons">open_in_new</i>
            </div>

            <div class="information">
                <i class="material-icons">report_problem</i>
                <ul>
                  <li>Suite Room</li>
                  <li>King Bed</li>
                  <li>Highest Floor</li>
                </ul>
            </div>
        </div>

        <!-- RFM SCORE -->
        <div>
          <div class="external-link">
            <label>RFM Score</label>
            <i class="material-icons">open_in_new</i>
          </div>

          <div class="graph">
              <i class="material-icons">pie_chart</i>
              <label>R: 70%</label>
              <label>F: 50%</label>
              <label>M: 90%</label>
          </div>
        </div>

        <!-- OTHER FACTS -->
        <div>
          <div class="external-link">
            <label>Other Facts</label>
            <i class="material-icons">open_in_new</i>
          </div>

          <div>
            <div class="other-facts">
              <div>
                <i class="material-icons">today</i>
                <label>Total Stays</label>
                <label>24</label>
              </div>

              <div>
                <i class="material-icons">brightness_2</i>
                <label>Nights</label>
                <label>32</label>
              </div>

              <div>
                <i class="material-icons">hotel</i>
                <label>Avg Stay</label>
                <label>1.33 nights</label>
              </div>

              <div>
                <i class="material-icons">event_note</i>
                <label>Last Visit</label>
                <label>2018-08-15</label>
              </div>

              <div>
                <i class="material-icons">money</i>
                <label>Lifetime Value</label>
                <label>$3084.29</label>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container-list-details">
      <mat-tab-group [color]="primary" (selectedTabChange)="changeTab($event)" [selectedIndex]="selectedPageIndex">
          <mat-tab label="Profile Detail" id="1"></mat-tab>
          <mat-tab label=" Profile ID's" id="2"></mat-tab>
          <mat-tab label="Activity Timeline" id="3"></mat-tab>
        </mat-tab-group>
    </div>

  </div>

</div>

<div class="content-details">
  <div *ngIf="selectedPageIndex === 0" class="content mat-elevation-z2">
    <div class="details">
      <h5>Profile Detail</h5>
      <div class="grid mat-elevation-z2">
        <div *ngFor="let item of grid">
          <p class="key">{{ item.label }}</p>
          <p class="value">{{ item.value }}</p>
          <p><i class="material-icons">create</i></p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectedPageIndex === 1" class="content mat-elevation-z2">Content Profile Ids</div>
  <div *ngIf="selectedPageIndex === 2" class="content mat-elevation-z2">Content Activity Timeline</div>
</div>
