@import '../../../colors.scss';

.golden-color {
  color: $gold;
}

.blue-color {
  color: $blue;
}

.grey-color {
  color: $grey;
}

.bold {
  font-weight: bold;
}

.header-profiles {
  padding: 25px;
  background-color: $blue;

  .profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
      color: $white;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 100px;
    }
  }

}

.container-table-details {
  display: flex;
}

.container-quick-facts {
  width: 20%;

  .quick-facts {
    padding: 0 20px;
    position: absolute;
    background-color: $white;

    h5 {
      color: $grey;
      font-weight: 600;
    }

    .external-link {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid 1px $border-cream;
      margin-bottom: 10px;
      padding: 10px 0;

      label {
        color: $grey;
        font-size: 12px;
      }

      i {
        color: $blue;
      }
    }

    .information {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 20px;
      ul {
        margin: 0 20px;
        padding: 0;
        list-style: none;
        font-size: 12px;
      }
    }

    .graph {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      label {
        font-size: 12px;
        margin: 0 10px;
      }
    }

    .other-facts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 0 20px 0;
        font-size: 12px;
        i {
          font-size: 2em;
          color: #737373;
          margin: 0 20px 0 0;
        }

        label {
          margin: 0 0 0 20px;
          min-width: 100px;
        }
      }
    }
  }


}

.container-list-details {
  width: 75%;
  padding: 0 10px;
}

.content-details {
  padding: 20px 0 0 400px;
  width: 50%;
  .content {
    padding: 10px;
    background-color: $white;
    .details {
      padding: 10px;
      background-color: $cream;
      border: solid 1px $border-grey;
      .grid {
        padding: 5px;
        background-color: $white;
        p {
          margin: 0;
          padding: 0;
          &.key {
            width: 25%;
          }
          &.value {
            font-weight: 800;
            width: 75%;
          }
          i {
            cursor: pointer;
            color: #ccc;
            &:hover {
              color: $grey;
            }
          }
        }
        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-bottom: solid 1px $border-grey;
          padding: 5px;
          font-size: 14px;
          align-items: center;
        }
      }
    }
  }
}
