table {
  width: 100%;
}

h5 {
    color: #676A6C;
    font-weight: normal;
}

.crud-icon {
    font-size: 16px !important;
    margin-right: 6px !important;
}

td {
  white-space: normal !important;
  word-wrap: break-word;
}

.rounded-image {
  border-radius: 20px;
}
