<div class="header-profiles">
    <h1>Profiles</h1>
    <form class="example-form">
      <div class="example-full-width mat-elevation-z2">
        <i class="material-icons">search</i>
        <input
          type="text"
          placeholder="Search Profiles"
          aria-label="Number"
          (keyup)="doFilter($event.target.value)"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto">

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </div>
    </form>
  </div>

<div class="container-table mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef={{item}} *ngFor="let item of displayedColumns; let i = index">
      <th mat-header-cell *matHeaderCellDef> {{displayedColumnsHead[i]}} </th>
      <ng-container *ngIf="item === 'photo';">
        <td mat-cell *matCellDef="let element"> <img [src]="element[item]" class="rounded-image" /> </td>
      </ng-container>
      <ng-container *ngIf="item !== 'photo' && item === 'view';">
        <td mat-cell *matCellDef="let element"> <i class="material-icons">keyboard_arrow_right</i> </td>
      </ng-container>
      <ng-container *ngIf="item !== 'photo' && item !== 'view';">
        <td mat-cell *matCellDef="let element"> {{ element[item] }} </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    (click)="onRowClicked(row)"></tr>

  </table>

  <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
