/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import './colors.scss';

// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body, html {
  height: 100%;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat';
  font-size: 18px;
  background-color: $cream;
}

a {
  text-decoration: none;
}

.container-table {
  table {
    background-color: $white!important;
    box-shadow: #d6d6d6 0px 6px 4px 0px!important;
  }
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  color: $white!important;
  background-color: $white!important;
}

.mat-tab-label-content {
  color: $white!important;
}
